<app-logout></app-logout>
<div class="todos">

  <div>
    <form (submit)="addTodo($event)">
      <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo" />
      <button type="submit" [disabled]="newTodo===''"><span class="glyphicon glyphicon-plus"></span> Todo</button>
    </form>
  </div>

  <div [hidden]="newTodo">
    Type in a new todo...
  </div>

  <div [hidden]="!newTodo">
    Typing: {{ newTodo }}
  </div>
  <div [hidden]="todos.length==0">
      Total Todos: {{ todos.length }};
    <!--  Pending: <span *ngFor="let todo of todos| pending:filteredCount as result;"></span> {{filteredCount?.count}} -->
  </div>
  <ul>
    <li *ngFor="let todo of todos; let i=index">
      <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
      <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
      <span (click)="deleteTodo(i)" class="glyphicon glyphicon-remove"></span>
    </li>
  </ul>

  <div >
    <button (click)="deleteSelectedTodos()">Delete Selected</button>
  </div>

</div>